@font-face {
    font-family: 'Barlow_C';
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf) ;
}

@font-face {
    font-family: 'Barlow_S';
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf) ;
}

@font-face {
    font-family: 'Bungee_O';
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf) ;
}

@font-face {
    font-family: 'Bungee_S';
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf) ;
}

:root {
    --font-size-changer: 1;
}


/* Mobile first */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(images/800px.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Barlow_C';
    color: rgb(244, 236, 236);
}

main {
    padding: 20px;
}

h1 {
    color: rgb(244, 236, 236);
    font-family: 'Bungee_S';
    font-size: 14vw;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Bungee_O';
    font-size: 8vw;
    margin: 0;
    margin-top: 10px;
}

h3 {
    font-family: 'Barlow_S';
    font-size: 4.5vw;
    margin: 0;
}

aside h3 {
    font-family: 'Barlow_C';
    font-weight: bolder;
    margin: 0;
}

.musicians {
    margin-top: 50px;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    font-size: 3.8vw;
    margin-top: 0;
    margin-bottom: 50px;
}

p {
    font-size: 3.8vw;
    margin: 0;
}

ol {
    font-size: 3.2vw;
    padding-left: 0.8em;
    margin-top: 2px;
}

#rutor_1 p, 
#rutor_2 p {
    font-size: 2.8vw;
}

nav a {
    font-size: 3.5vw;
}


/*
 * Navigation
 */


nav {
    display: flex;
    gap: 10px;
    margin: 60px 0;
}

nav a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s;
    color: black;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

nav a:nth-child(2) {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.5) ;
    border: white 0.5px solid;
    font-weight: bold;
}

nav a:hover:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}


/*
 * Article
 */


article {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: white 0.5px solid;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    padding: 15px;
    flex-direction: column;
}

article:last-child {
    margin-bottom: 100px;
}

aside {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

aside img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: block;
    object-fit: cover;
    height: 100%;
}

aside > div:first-child {
    position: relative;
}

aside > div img:nth-child(2) {
    transition: 1s ;
    position: absolute;
    top: 0;
    left: 0;
}

aside > div:first-child:hover img:nth-child(2) {
    opacity: 0;
}

aside > div:nth-child(2) {
    display: flex;
    gap: 10px;
}

aside > div:nth-child(2) div {
    background-color: rgb(189, 22, 38);
    color: rgb(18, 17, 17);
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
}


aside > div:nth-child(2) div:first-child {
    border-radius: 0 0 0 20px;
}

aside > div:nth-child(2) div:nth-child(2) {
    border-radius: 0 0 20px 0;
}

article:last-child aside div:last-child div {
    background-color: rgb(28, 29, 30) !important;
    color: rgb(40, 91, 118);
}


/*
 * gridnät 1
 */


#rutor_1,
#rutor_2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2,140px);
    gap: 5px;
    margin-top: 10px;
}

#rutor_1 div {
    background-color: rgb(18, 17, 17);
    color: rgb(189, 22, 38);
    display: flex;
    align-items: center;
}

#rutor_1 div:nth-child(1) {
   grid-column: 1 / span 4;
   border-radius: 20px 0 20px 20px;

}

#rutor_1 div:nth-child(2) {
    grid-column: 5/ span 8;
    border-radius: 20px 20px 20px 0;
}

#rutor_1 div:nth-child(3) {
    grid-column: 5/ span 4;
    grid-row: 2;
    border-radius: 0 20px 20px 20px;
    background-image: url(images/singer.jpg);
    background-size: cover;
    background-position: center;
    align-items: end;
    color: whitesmoke;
}

#rutor_1 div:nth-child(4) {
    grid-column: 9/ span 4;
    grid-row: 2;
    border-radius: 20px 20px 0 20px;
}

#rutor_1 p, 
#rutor_2 p {
    margin: 12px;
}


/*
 * gridnät 2
 */


#rutor_2 div {
    background-color: rgb(40, 91, 118) ;
    color: rgb(28, 29, 30) ;
    display: flex;
    align-items: center;
}

#rutor_2 div:nth-child(1) {
   grid-column: 1 / span 8;
   border-radius: 20px 20px 20px 0;
}

#rutor_2 div:nth-child(2) {
    grid-column: 9/ span 4;
    border-radius: 0 20px 20px 20px;
}

#rutor_2 div:nth-child(3) {
    grid-column: 1/ span 8;
    grid-row: 2;
    border-radius: 0 20px 20px 20px;
    background-image: url(images/group.jpg);
    background-size: cover;
    background-position: center;
    align-items: end;
    color: whitesmoke;
}

#rutor_2 div:nth-child(4) {
    grid-column: 9/ span 4;
    grid-row: 2;
    border-radius: 20px 20px 0 20px;
}


