@font-face {
    font-family: 'Barlow_C';
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf) ;
}

@font-face {
    font-family: 'Barlow_S';
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf) ;
}

@font-face {
    font-family: 'Bungee_O';
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf) ;
}

@font-face {
    font-family: 'Bungee_S';
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf) ;
}









/* Mobile first */

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
    background-image: url(images/800px.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Barlow_C';
    color: rgb(244, 236, 236);
}

main {
    padding: 20px;
}

h1 {
    color: rgb(244, 236, 236);
    font-family: 'Bungee_S';
}

/*
 * Navigation
 */

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s;
    color: black;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

nav a:nth-child(2) {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.5) ;
    border: white 0.5px solid;
    font-weight: bold;
}

nav a:hover:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}




/*
 * Article
 */

article {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: white 0.5px solid;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    padding: 15px;
    flex-direction: column;
}

aside {
   display: flex;
   flex-direction: column;
   gap: 15px;
}


aside img {
    width: 100%;
}

aside > div:nth-child(n+2) {
    display: flex;
    gap: 10px;
}

aside > div:nth-child(n+2) div {
    flex-grow: 1;
    background-color: rgb(2, 8, 30);
    color: rgb(144, 3, 3);
}



/*
 * gridnät
 */

 .rutor {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2,100px);
    gap: 5px;
    margin-top: 10px;
 }

.rutor div {
    background-color: rgb(144, 3, 3);
    color: rgb(2, 8, 30);
}

.rutor div:nth-child(1) {
   grid-column: 1 / span 4
}

.rutor div:nth-child(2) {
    grid-column: 5/ span 8;
}

.rutor div:nth-child(3) {
    grid-column: 5/ span 4;
    grid-row: 2;
}

.rutor div:nth-child(4) {
    grid-column: 9/ span 4;
    grid-row: 2;
}





/* Tablet version */
@media (min-width: 500px) {
    h1 {
        color: rgb(244, 236, 236);
    }

    body {
        background-color: rgb(245, 241, 241);
        background-image: none;
    }

    main {
        background-color: rgb(140, 140, 140);
        border-radius: 30px;
    }

    aside {
        flex-direction: row;
    }

    aside > div:nth-child(n+2) {
        flex-direction: column;
        width: 50%;
    }

    .rutor div:nth-child(1) {
        grid-column: 1 / span 3
     }
     
     .rutor div:nth-child(2) {
         grid-column: 7/ span 6;
     }
     
     .rutor div:nth-child(3) {
         grid-column: 4/ span 3;
         grid-row: 2;
     }
     
     .rutor div:nth-child(4) {
         grid-column: 7/ span 3;
         grid-row: 2;
     }
    
}


/* Desktop version */
@media (min-width: 800px) {
    h1 {
        color: rgb(244, 236, 236);
    }

    body {
        background-image: url(images/800pxdesktop.jpg);
    }

    main {
        background-color: rgba(183, 182, 182, 0.4);
        max-width: 1200px;
        margin: auto;
    }

   

    article > section{
        display: flex;
        flex-direction: row-reverse;
        
    }


    aside {
        flex-direction: column;
        
        flex-basis: 0;
        flex-grow: 2;
    }

    article section > div:nth-child(2) {
        flex-basis: 0;
        flex-grow: 3;
        
    }

    aside > div:nth-child(n+2) {
        flex-direction: row;
        width: 100%;
    }

    .rutor div:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1/ span 2 ;
     }
     
     .rutor div:nth-child(2) {
         grid-column: 5/ span 4;
         grid-row: 1/ span 2 ;
     }
     
     .rutor div:nth-child(3) {
         grid-column: 9/ span 2;
         grid-row: 1/ span 2;
     }
     
     .rutor div:nth-child(4) {
         grid-column: 11/ span 2;
         grid-row: 1/ span 2;
     }

   
}